---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=4QlfGltxA6YAiZ5C6oNyTRvCcWGjJ4yZ&lat=37.7955&lon=-122.3933&relatedPois=off&view=Unified
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 4252b58c-e97a-48b6-8ed2-d026ba56309f
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 8718e699-b3c8-49ab-98c7-7c63f42dbe04
      X-Tomtom-Upstream-Service-Time:
      - '75'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":57,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":37.7955,"lon":-122.3933}},"results":[{"type":"POI","id":"WV13fIeWWdl5R1i1Lx3Kjw","score":99.9515914917,"dist":48.412078,"info":"search:ta:840069009207678-US","poi":{"name":"Bank
        of America","brands":[{"name":"Bank of America"}],"categorySet":[{"id":7397}],"url":"www.bankofamerica.com/","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1","streetName":"The Embarcadero","municipality":"San
        Francisco","neighbourhood":"Financial District","countrySecondarySubdivision":"San
        Francisco","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"94111","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1 The Embarcadero, San
        Francisco, CA 94111","localName":"San Francisco"},"position":{"lat":37.795725,"lon":-122.393772},"viewport":{"topLeftPoint":{"lat":37.79662,"lon":-122.39491},"btmRightPoint":{"lat":37.79483,"lon":-122.39263}},"entryPoints":[{"type":"main","position":{"lat":37.79554,"lon":-122.39414}}]},{"type":"POI","id":"JZlNCaTtraqltyYNfWP6Ow","score":99.7841796875,"dist":215.82027,"info":"search:ta:840069019114458-US","poi":{"name":"Lynk
        Systems","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"45","streetName":"Embarcadero Center","municipality":"San
        Francisco","neighbourhood":"Financial District","countrySecondarySubdivision":"San
        Francisco","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"94133","extendedPostalCode":"94133-1000","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"45 Embarcadero Center,
        San Francisco, CA 94133","localName":"San Francisco"},"position":{"lat":37.795069,"lon":-122.395695},"viewport":{"topLeftPoint":{"lat":37.79597,"lon":-122.39683},"btmRightPoint":{"lat":37.79417,"lon":-122.39456}},"entryPoints":[{"type":"main","position":{"lat":37.79516,"lon":-122.39571}}]},{"type":"POI","id":"LGNArjecJraf0cexKrmjiQ","score":99.7786865234,"di[...]
[...]
